body {
  background: linear-gradient(0deg, #bc8231, #edecae); }

.produc {
  transition: all 0.5s; }
  .produc .produc:hover {
    transform: scale(1.1, 1.1);
    border: solid 1px white;
    border-radius: 0.5rem; }

form, .botonn {
  background-color: #2f2f2f;
  border-radius: 1rem;
  color: #b7a6b4; }

.botonn {
  color: blue;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #9898cf;
  margin: 2rem;
  padding: 1rem; }
  .botonn:hover {
    background-color: blueviolet;
    color: #dcc1c1; }

.produc {
  transition: all 0.5s; }
  .produc:hover {
    transform: scale(1.1, 1.1);
    border: solid 2px #984848;
    border-radius: 1rem; }
